<% if(error != "") { %>
    <div calss="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= error %></strong>
    </div>
<% } %>

<% if(error_msg != "") { %>
    <div calss="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= error_msg %></strong>
    </div>
<% } %>

<% if(success_msg != "") { %>
    <div calss="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= success_msg %></strong>
    </div>
<% } %>